<section class="forms">
    <h1>Sign up</h1>

    <form id="signupForm">
        <input type="text" id="signupUsername" placeholder="Username">
        <input type="text" id="signupEmail" placeholder="Email">
        <input type="password" id="signupPassword" placeholder="Password">
        <button>Submit</button>
    </form>

</section>
<script src="js/signup.js"></script>